body {
  background: #f4f4f4 url('../images/grid.jpg');
  padding: 15px;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

#board {
  padding: 5px;
}

#controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.player {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.player .name {
  text-align: center;
  font-size: 35px;
}

.player .life {
  font-size: 100px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.magenta {
  color: magenta;
}

.purple {
  color: purple;
}

.plum {
  color: plum;
}

.orange {
  color: orange;
}
